* {
  box-sizing: border-box;
}

body {
}

nav {
  margin: auto;
  text-align: center;
}

header {
  max-width: 680px;
  margin: auto;
  text-align: center;
}

section {
  max-width: 580px;
  margin: auto;
}

#non-bullet-list {
  list-style: none;
}

#list-item-inline {
  display: inline;
  margin-right: 2rem;
}
